@model MunicipalServices.Data.CatchReceipts

@{
    ViewData["Title"] = "Catch Receipts";
}

<div class="roots-content-wrapper my-4 container-fluid dir-rtl" style="min-height:600px">

    <div class="content-box mt-2">
        <div class="content-box-header">
            <h3 class="content-box__title text-right">تفاصيل</h3>
        </div>

        <div class="content-box-body">

            <div class="content-box-body__row row">

                <div class="form-item-valid form-group col-12 col-md-6">
                    <label class="input-label text-right"> @Html.DisplayNameFor(model => model.FullName)</label>
                    <input class="form-control input" id="inputtext-2" disabled="disabled" value="@Html.DisplayFor(model => model.FullName)">
                </div>

                <div class="form-item-valid form-group col-12 col-md-6">
                    <label class="input-label text-right">@Html.DisplayNameFor(model => model.AmountOfMoneyNumber)</label>
                    <input class="form-control input" id="inputtext-2" disabled="disabled" value="@Html.DisplayFor(model => model.AmountOfMoneyNumber)">
                </div>

                <div class="form-item-valid form-group col-12 col-md-6">
                    <label class="input-label text-right"> @Html.DisplayNameFor(model => model.AmountOfMoneyText)</label>
                    <input class="form-control input" id="inputtext-2" disabled="disabled" value="@Html.DisplayFor(model => model.AmountOfMoneyText)">
                </div>

                <div class="form-item-valid form-group col-12 col-md-6">
                    <label class="input-label text-right"> @Html.DisplayNameFor(model => model.Reason)</label>
                    <input class="form-control input" id="inputtext-2" disabled="disabled" value="@Html.DisplayFor(model => model.Reason)">
                </div>
                <div class="form-item-valid form-group col-12 col-md-6">
                    <label class="input-label text-right"> @Html.DisplayNameFor(model => model.ToAccount)</label>
                    <input class="form-control input" id="inputtext-2" disabled="disabled" value="@Html.DisplayFor(model => model.ToAccount)">
                </div>
                <div class="form-item-valid form-group col-12 col-md-6">
                    <label class="input-label text-right"> @Html.DisplayNameFor(model => model.Currency)</label>
                    <input class="form-control input" id="inputtext-2" disabled="disabled" value="@Html.DisplayFor(model => model.Currency)">
                </div>
                <div class="form-item-valid form-group col-12 col-md-6">
                    <label class="input-label text-right"> @Html.DisplayNameFor(model => model.CreatedDate)</label>
                    <input class="form-control input" id="inputtext-2" disabled="disabled" value="@Html.DisplayFor(model => model.CreatedDate)">
                </div>
                <div class="form-item-valid form-group col-12 col-md-6">
                    <label class="input-label text-right"> @Html.DisplayNameFor(model => model.UpdatedDate)</label>
                    <input class="form-control input" id="inputtext-2" disabled="disabled" value="@Html.DisplayFor(model => model.UpdatedDate)">
                </div>
                <div class="form-item-valid form-group col-12 col-md-6">
                    <label class="input-label text-right"> @Html.DisplayNameFor(model => model.User)</label>
                    <input class="form-control input" id="inputtext-2" disabled="disabled" value="@Html.DisplayFor(model => model.User.FullName)">
                </div>
            </div>
        </div>
        <br />
        <div class="root-space__btn-wrapp col-12">
            <a asp-action="Index" class="roots-btn btn btn-secondary ml-3">رجوع</a>
            <a asp-action="Edit" asp-route-id="@Model.ID" class="roots-btn btn btn-primary">تعديل</a>
        </div>
        <br />
    </div>
    <br />
    <div class="card bg-light">
        <div class="card-header text-center">الشيكات</div>
        <div class="card-body">
            <p class="text-left">
                <a asp-action="Create" asp-controller="CashiersChecks" asp-route-id="@Model.ID" asp-route-IsCatchReceipts="true" class="roots-btn btn btn-primary">إضافة جديد</a>
            </p>
            @await Component.InvokeAsync("CashiersChecksList", new { id = Model.ID, IsCatchReceipts = true })
        </div>
    </div>
    </div>
