@model MunicipalServices.Data.CatchReceipts

@{
    ViewData["Title"] = "سندات القبض";
}

<div class="roots-content-wrapper my-4 container-fluid dir-rtl" style="min-height:700px">

    <div class="content-box mt-2">
        <div class="content-box-header">
            <h3 class="content-box__title text-right d-print-none">تفاصيل</h3>
            <h3 class="content-box__title text-right d-none d-print-block">سند قبض - تفاصيل</h3>
        </div>

        <div class="content-box-body">

            <div class="content-box-body__row row">

                <div class="form-item-valid form-group col-6 col-md-3">
                    <label class="input-label text-right"> @Html.DisplayNameFor(model => model.FullName)</label>
                    <input class="form-control input" id="inputtext-2" disabled="disabled" value="@Html.DisplayFor(model => model.FullName)">
                </div>

                <div class="form-item-valid form-group col-6 col-md-3">
                    <label class="input-label text-right">@Html.DisplayNameFor(model => model.AmountOfMoneyNumber)</label>
                    <input class="form-control input" id="inputtext-2" disabled="disabled" value="@Html.DisplayFor(model => model.AmountOfMoneyNumber)">
                </div>

                <div class="form-item-valid form-group col-6 col-md-3">
                    <label class="input-label text-right"> @Html.DisplayNameFor(model => model.AmountOfMoneyText)</label>
                    <input class="form-control input" id="inputtext-2" disabled="disabled" value="@Html.DisplayFor(model => model.AmountOfMoneyText)">
                </div>

                <div class="form-item-valid form-group col-6 col-md-3">
                    <label class="input-label text-right"> @Html.DisplayNameFor(model => model.Reason)</label>
                    <input class="form-control input" id="inputtext-2" disabled="disabled" value="@Html.DisplayFor(model => model.Reason)">
                </div>
                <div class="form-item-valid form-group col-6 col-md-3">
                    <label class="input-label text-right"> @Html.DisplayNameFor(model => model.ToAccount)</label>
                    <input class="form-control input" id="inputtext-2" disabled="disabled" value="@Html.DisplayFor(model => model.ToAccount)">
                </div>
                <div class="form-item-valid form-group col-6 col-md-3">
                    <label class="input-label text-right"> @Html.DisplayNameFor(model => model.Currency)</label>
                    <input class="form-control input" id="inputtext-2" disabled="disabled" value="@MunicipalServices.Helper.Enumerations.GetEnumDescription(Model.Currency)">
                </div>
                <div class="form-item-valid form-group col-6 col-md-3">
                    <label class="input-label text-right"> @Html.DisplayNameFor(model => model.CreatedDate)</label>
                    <input class="form-control input" id="inputtext-2" disabled="disabled" value="@Html.DisplayFor(model => model.CreatedDate)">
                </div>
                <div class="form-item-valid form-group col-6 col-md-3 d-print-none">
                    <label class="input-label text-right"> @Html.DisplayNameFor(model => model.UpdatedDate)</label>
                    <input class="form-control input" id="inputtext-2" disabled="disabled" value="@Html.DisplayFor(model => model.UpdatedDate)">
                </div>
                <div class="form-item-valid form-group col-6 col-md-3 d-print-none">
                    <label class="input-label text-right"> @Html.DisplayNameFor(model => model.User)</label>
                    <input class="form-control input" id="inputtext-2" disabled="disabled" value="@Html.DisplayFor(model => model.User.FullName)">
                </div>
            </div>
        </div>
        <br />
        <div class="root-space__btn-wrapp col-12 d-print-none">
            <a asp-action="Index" class="roots-btn btn btn-secondary ml-3">رجوع</a>
            <a asp-action="Edit" asp-route-id="@Model.ID" class="roots-btn btn btn-primary ml-3">تعديل</a>
            <button onclick="window.print()" class="roots-btn btn btn-primary">طباعة</button>
        </div>
        <br />
    </div>
    <br />
    <div class="card bg-light d-print-none">
        <div class="card-header text-center">الشيكات</div>
        <div class="card-body">
            <p class="text-right">
                <a asp-action="Create" asp-controller="CashiersChecks" asp-route-id="@Model.ID" asp-route-IsCatchReceipts="true" class="roots-btn btn btn-primary">إضافة جديد</a>
            </p>
            @await Component.InvokeAsync("CashiersChecksList", new { id = Model.ID, IsCatchReceipts = true })
        </div>
    </div>
    <div class="d-none d-print-block">
        <div class="card-header text-center">الشيكات</div>
        <div class="card-body">
            @{
                var model = Model.CashiersChecks.Where(c => c.Deleted == false && c.CatchReceiptID == Model.ID);
            }
            @Html.Partial("~/Views/CashiersChecks/Index.cshtml", model)
        </div>
    </div>
</div>
