<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>@ViewData["Title"] - خدمات بلدية العوجا</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="#fff">
    <style>
        .roots-btn {
            color: white !important;
        }

        .select-list {
            height: 50px !important;
        }

        /*.Vaildation {
            color: red;
        }*/
    </style>
    <style>
        .field-validation-error {
            color: #ff0000;
            /*background-image: url('../../images/ui/valid-error.svg');*/
            background-repeat: no-repeat;
            /*padding-left: 18px;*/
            display: block;
        }

        .field-validation-valid {
            display: none;
        }

        .input-validation-error {
            display: inline-block !important;
            border: 1px solid #d0021b !important;
        }

        .validation-summary-errors {
            font-weight: bold !important;
            color: #ff0000 !important;
        }

        .site_title img {
            width: 170%;
            padding: 5px;
            padding-top: 5px;
        }

        img {
            vertical-align: middle;
        }

        .sidebar-is-hidden .sidebar-header {
            width: 300px;
            padding: 0 10px !important;
        }

        .validation-summary-valid {
            display: none;
        }

        .hidden {
            display: none;
        }

        .modal {
            z-index: 99999;
        }
    </style>
    @*<link rel="stylesheet"
          href="https://cdn.rtlcss.com/bootstrap/v4.2.1/css/bootstrap.min.css"
          integrity="sha384-vus3nQHTD+5mpDiZ4rkEPlnkcyTP+49BhJ4wJeJunw06ZAp+wzzeBPUXr42fi8If"
          crossorigin="anonymous">*@
    <link href="~/css/css.css" rel="stylesheet" />
    <link href="~/css/select2.min.css" rel="stylesheet" />
        
    <link href="~/css/main.css" rel="stylesheet" />
    <link rel="shortcut icon" type="image/x-icon" href="~/images/favicon/favicon.ico">
        </head>
<body>
    <main>
        <div class="wrapper m-0">
            <header class="header bg-primary d-flex align-items-center justify-content-between">

                <div class="sidebar-header bg-primary border-right pl-4 d-flex align-items-center">
                    <a class="navbar-brand text-light" asp-area="" asp-controller="Home" asp-action="Index">خدمات بلدية العوجا</a>
                </div>
                <div class="header-sub-cnt">
                    <div class="header-info d-flex align-items-center">
                        <h3 class="header-title">@ViewData["Title"]</h3>
                    </div>



                    <partial name="_LoginPartial" />
                </div>

            </header>
            <nav id="sidebar" class="sidebar" style="float: right;">

                <ul class="sidebar__list list-unstyled border-right m-0 pt-5">
                    <li class="sidebar__list-item pl-4 pt-1 pb-2 pr-2 mb-3 d-flex">
                        <div class="sidebar__list-pic">
                            <svg width="23px" height="20px" fill="#2F4160" viewBox="0 0 23 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <polygon points="9.2 20 9.2 12.9411765 13.8 12.9411765 13.8 20 19.55 20 19.55 10.5882353 23 10.5882353 11.5 0 0 10.5882353 3.45 10.5882353 3.45 20"></polygon>
                            </svg>
                        </div>

                        <div class="sidebar__list-content ml-3">
                            <a class="sidebar-item-link" asp-controller="Home" asp-action="Index">Home</a>
                        </div>

                    </li>
                    <li class="sidebar__list-item pl-4 pt-1 pb-2 pr-2 mb-3 d-flex">
                        <div class="sidebar__list-pic">
                            <svg width="19px" height="19px" fill="#2F4160" viewBox="0 0 19 19" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <path d="M1.9,3.8 L0,3.8 L0,17.1 C0,18.145 0.855,19 1.9,19 L15.2,19 L15.2,17.1 L1.9,17.1 L1.9,3.8 Z M17.1,0 L5.7,0 C4.655,0 3.8,0.855 3.8,1.9 L3.8,13.3 C3.8,14.345 4.655,15.2 5.7,15.2 L17.1,15.2 C18.145,15.2 19,14.345 19,13.3 L19,1.9 C19,0.855 18.145,0 17.1,0 Z M16.15,8.55 L6.65,8.55 L6.65,6.65 L16.15,6.65 L16.15,8.55 Z M12.35,12.35 L6.65,12.35 L6.65,10.45 L12.35,10.45 L12.35,12.35 Z M16.15,4.75 L6.65,4.75 L6.65,2.85 L16.15,2.85 L16.15,4.75 Z"></path>
                            </svg>
                        </div>

                        <div class="sidebar__list-content ml-3">
                            <a class="sidebar-item-link" asp-controller="CatchReceipts" asp-action="Index">Catch Receipts</a>
                        </div>

                    </li>
                    <li class="sidebar__list-item pl-4 pt-1 pb-2 pr-2 mb-3 d-flex">
                            <div class="sidebar__list-pic">
                                <svg width="19px" height="19px" fill="#2F4160" viewBox="0 0 19 19" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <path d="M1.9,3.8 L0,3.8 L0,17.1 C0,18.145 0.855,19 1.9,19 L15.2,19 L15.2,17.1 L1.9,17.1 L1.9,3.8 Z M17.1,0 L5.7,0 C4.655,0 3.8,0.855 3.8,1.9 L3.8,13.3 C3.8,14.345 4.655,15.2 5.7,15.2 L17.1,15.2 C18.145,15.2 19,14.345 19,13.3 L19,1.9 C19,0.855 18.145,0 17.1,0 Z M16.15,8.55 L6.65,8.55 L6.65,6.65 L16.15,6.65 L16.15,8.55 Z M12.35,12.35 L6.65,12.35 L6.65,10.45 L12.35,10.45 L12.35,12.35 Z M16.15,4.75 L6.65,4.75 L6.65,2.85 L16.15,2.85 L16.15,4.75 Z"></path>
                                </svg>
                            </div>

                            <div class="sidebar__list-content ml-3">
                                <a class="sidebar-item-link"  asp-controller="Receipts" asp-action="Index">Receipts</a>
                            </div>

                        </li>
                    <li class="sidebar__list-item pl-4 pt-1 pb-2 pr-2 mb-3 d-flex">
                        <div class="sidebar__list-pic">
                            <svg width="19px" height="19px" fill="#2F4160" viewBox="0 0 19 19" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <path d="M1.9,3.8 L0,3.8 L0,17.1 C0,18.145 0.855,19 1.9,19 L15.2,19 L15.2,17.1 L1.9,17.1 L1.9,3.8 Z M17.1,0 L5.7,0 C4.655,0 3.8,0.855 3.8,1.9 L3.8,13.3 C3.8,14.345 4.655,15.2 5.7,15.2 L17.1,15.2 C18.145,15.2 19,14.345 19,13.3 L19,1.9 C19,0.855 18.145,0 17.1,0 Z M16.15,8.55 L6.65,8.55 L6.65,6.65 L16.15,6.65 L16.15,8.55 Z M12.35,12.35 L6.65,12.35 L6.65,10.45 L12.35,10.45 L12.35,12.35 Z M16.15,4.75 L6.65,4.75 L6.65,2.85 L16.15,2.85 L16.15,4.75 Z"></path>
                            </svg>
                        </div>

                        <div class="sidebar__list-content ml-3">
                            <a class="sidebar-item-link" asp-controller="ComplaintForms" asp-action="Index">Complaint Forms</a>
                        </div>

                    </li>
                    <li class="sidebar__list-item pl-4 pt-1 pb-2 pr-2 mb-3 d-flex">
                        <div class="sidebar__list-pic">
                            <svg width="19px" height="19px" fill="#2F4160" viewBox="0 0 19 19" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <path d="M1.9,3.8 L0,3.8 L0,17.1 C0,18.145 0.855,19 1.9,19 L15.2,19 L15.2,17.1 L1.9,17.1 L1.9,3.8 Z M17.1,0 L5.7,0 C4.655,0 3.8,0.855 3.8,1.9 L3.8,13.3 C3.8,14.345 4.655,15.2 5.7,15.2 L17.1,15.2 C18.145,15.2 19,14.345 19,13.3 L19,1.9 C19,0.855 18.145,0 17.1,0 Z M16.15,8.55 L6.65,8.55 L6.65,6.65 L16.15,6.65 L16.15,8.55 Z M12.35,12.35 L6.65,12.35 L6.65,10.45 L12.35,10.45 L12.35,12.35 Z M16.15,4.75 L6.65,4.75 L6.65,2.85 L16.15,2.85 L16.15,4.75 Z"></path>
                            </svg>
                        </div>

                        <div class="sidebar__list-content ml-3">
                            <a class="sidebar-item-link" asp-controller="ConstructionLicenses" asp-action="Index">Construction Licenses</a>
                        </div>

                    </li>
                    <li class="sidebar__list-item pl-4 pt-1 pb-2 pr-2 mb-3 d-flex">
                        <div class="sidebar__list-pic">
                            <svg width="19px" height="19px" fill="#2F4160" viewBox="0 0 19 19" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <path d="M1.9,3.8 L0,3.8 L0,17.1 C0,18.145 0.855,19 1.9,19 L15.2,19 L15.2,17.1 L1.9,17.1 L1.9,3.8 Z M17.1,0 L5.7,0 C4.655,0 3.8,0.855 3.8,1.9 L3.8,13.3 C3.8,14.345 4.655,15.2 5.7,15.2 L17.1,15.2 C18.145,15.2 19,14.345 19,13.3 L19,1.9 C19,0.855 18.145,0 17.1,0 Z M16.15,8.55 L6.65,8.55 L6.65,6.65 L16.15,6.65 L16.15,8.55 Z M12.35,12.35 L6.65,12.35 L6.65,10.45 L12.35,10.45 L12.35,12.35 Z M16.15,4.75 L6.65,4.75 L6.65,2.85 L16.15,2.85 L16.15,4.75 Z"></path>
                            </svg>
                        </div>
                        <div class="sidebar__list-content ml-3">
                            <a class="sidebar-item-link" asp-controller="CraftAndIndustryLicenses" asp-action="Index">Craft and Industry Licenses</a>
                        </div>
                    </li>
                    <li class="sidebar__list-item pl-4 pt-1 pb-2 pr-2 mb-3 d-flex">
                            <div class="sidebar__list-pic">
                                <svg width="18px" height="18px" fill="#2F4160" viewBox="0 0 18 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <path d="M16,0 L1.99,0 C0.88,0 0.01,0.9 0.01,2 L0,16 C0,17.1 0.88,18 1.99,18 L16,18 C17.1,18 18,17.1 18,16 L18,2 C18,0.9 17.1,0 16,0 Z M16,12 L12,12 C12,13.66 10.65,15 9,15 C7.35,15 6,13.66 6,12 L1.99,12 L1.99,2 L16,2 L16,12 Z M13,7 L11,7 L11,4 L7,4 L7,7 L5,7 L9,11 L13,7 Z"></path>
                                </svg>
                            </div>

                            <div class="sidebar__list-content ml-3">
                                <a class="sidebar-item-link" asp-controller="VacationRequests" asp-action="Index">Vacation Requests</a>
                            </div>
                        </li>
                        <li class="sidebar__list-item pl-4 pt-1 pb-2 pr-2 mb-3 d-flex">
                            <div class="sidebar__list-pic">
                                <svg fill="#0A1F44" width="18px" height="18px" viewBox="0 0 18 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <path d="M8,11.0623382 C8,10.475625 8.49590156,10 9.10838294,10 L16.8916171,10 C17.5037601,10 18,10.4764786 18,11.0623382 L18,16.9376618 C18,17.524375 17.5040984,18 16.8916171,18 L9.10838294,18 C8.49623994,18 8,17.5235214 8,16.9376618 L8,11.0623382 Z M9,11.2733986 L9,16.7266014 C9,16.8746815 9.12747537,17 9.28472423,17 L16.7152758,17 C16.8743391,17 17,16.8775953 17,16.7266014 L17,11.2733986 C17,11.1253185 16.8725246,11 16.7152758,11 L9.28472423,11 C9.12566091,11 9,11.1224047 9,11.2733986 Z M0,11.0623382 C0,10.475625 0.526137733,10 1.17164262,10 L5.82835738,10 C6.47543773,10 7,10.4764786 7,11.0623382 L7,16.9376618 C7,17.524375 6.47386227,18 5.82835738,18 L1.17164262,18 C0.524562267,18 0,17.5235214 0,16.9376618 L0,11.0623382 Z M1,11.2733986 L1,16.7266014 C1,16.8746815 1.140033,17 1.31277237,17 L5.68722763,17 C5.855752,17 6,16.8775953 6,16.7266014 L6,11.2733986 C6,11.1253185 5.859967,11 5.68722763,11 L1.31277237,11 C1.144248,11 1,11.1224047 1,11.2733986 Z M12,1.06233823 C12,0.475625029 12.4910052,0 13.0865547,0 L16.9134453,0 C17.5135329,0 18,0.476478576 18,1.06233823 L18,6.93766176 C18,7.52437499 17.5089948,8 16.9134453,8 L13.0865547,8 C12.4864671,8 12,7.52352144 12,6.93766176 L12,1.06233823 Z M13,1.27339864 L13,6.72660138 C13,6.87468149 13.1287943,7 13.2876701,7 L16.7123299,7 C16.8669129,7 17,6.87759525 17,6.72660138 L17,1.27339864 C17,1.12531853 16.8712057,1 16.7123299,1 L13.2876701,1 C13.1330871,1 13,1.12240474 13,1.27339864 Z M0,1.06233823 C0,0.475625029 0.515798916,0 1.15640215,0 L9.84359785,0 C10.4822611,0 11,0.476478576 11,1.06233823 L11,6.93766176 C11,7.52437499 10.4842011,8 9.84359785,8 L1.15640215,8 C0.517738853,8 0,7.52352144 0,6.93766176 L0,1.06233823 Z M1,1.27339864 L1,6.72660138 C1,6.87468149 1.11917029,7 1.26617429,7 L8.73382571,7 C8.88070261,7 9,6.87759525 9,6.72660138 L9,1.27339864 C9,1.12531853 8.88082971,1 8.73382571,1 L1.26617429,1 C1.11929739,1 1,1.12240474 1,1.27339864 Z"></path>
                                </svg>
                            </div>
                            <div class="sidebar__list-content ml-3">
                                <a class="sidebar-item-link"  asp-controller="WaterMeterSubscriptionRequests" asp-action="Index">Water Meter Subscription Requests</a>
                            </div>
                        </li>
                        <li class="sidebar__list-item pl-4 pt-1 pb-2 pr-2 mb-3 d-flex">
                            <div class="sidebar__list-pic">
                                <svg fill="#0A1F44" width="18px" height="18px" viewBox="0 0 18 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <path d="M8,11.0623382 C8,10.475625 8.49590156,10 9.10838294,10 L16.8916171,10 C17.5037601,10 18,10.4764786 18,11.0623382 L18,16.9376618 C18,17.524375 17.5040984,18 16.8916171,18 L9.10838294,18 C8.49623994,18 8,17.5235214 8,16.9376618 L8,11.0623382 Z M9,11.2733986 L9,16.7266014 C9,16.8746815 9.12747537,17 9.28472423,17 L16.7152758,17 C16.8743391,17 17,16.8775953 17,16.7266014 L17,11.2733986 C17,11.1253185 16.8725246,11 16.7152758,11 L9.28472423,11 C9.12566091,11 9,11.1224047 9,11.2733986 Z M0,11.0623382 C0,10.475625 0.526137733,10 1.17164262,10 L5.82835738,10 C6.47543773,10 7,10.4764786 7,11.0623382 L7,16.9376618 C7,17.524375 6.47386227,18 5.82835738,18 L1.17164262,18 C0.524562267,18 0,17.5235214 0,16.9376618 L0,11.0623382 Z M1,11.2733986 L1,16.7266014 C1,16.8746815 1.140033,17 1.31277237,17 L5.68722763,17 C5.855752,17 6,16.8775953 6,16.7266014 L6,11.2733986 C6,11.1253185 5.859967,11 5.68722763,11 L1.31277237,11 C1.144248,11 1,11.1224047 1,11.2733986 Z M12,1.06233823 C12,0.475625029 12.4910052,0 13.0865547,0 L16.9134453,0 C17.5135329,0 18,0.476478576 18,1.06233823 L18,6.93766176 C18,7.52437499 17.5089948,8 16.9134453,8 L13.0865547,8 C12.4864671,8 12,7.52352144 12,6.93766176 L12,1.06233823 Z M13,1.27339864 L13,6.72660138 C13,6.87468149 13.1287943,7 13.2876701,7 L16.7123299,7 C16.8669129,7 17,6.87759525 17,6.72660138 L17,1.27339864 C17,1.12531853 16.8712057,1 16.7123299,1 L13.2876701,1 C13.1330871,1 13,1.12240474 13,1.27339864 Z M0,1.06233823 C0,0.475625029 0.515798916,0 1.15640215,0 L9.84359785,0 C10.4822611,0 11,0.476478576 11,1.06233823 L11,6.93766176 C11,7.52437499 10.4842011,8 9.84359785,8 L1.15640215,8 C0.517738853,8 0,7.52352144 0,6.93766176 L0,1.06233823 Z M1,1.27339864 L1,6.72660138 C1,6.87468149 1.11917029,7 1.26617429,7 L8.73382571,7 C8.88070261,7 9,6.87759525 9,6.72660138 L9,1.27339864 C9,1.12531853 8.88082971,1 8.73382571,1 L1.26617429,1 C1.11929739,1 1,1.12240474 1,1.27339864 Z"></path>
                                </svg>
                            </div>

                            <div class="sidebar__list-content ml-3">
                                <a class="sidebar-item-link" href="#">User Management</a>

                            </div>
                        </li>
                    @*<li class="sidebar__list-item pl-4 pt-1 pb-2 pr-2 mb-3 d-flex">
                            <div class="sidebar__list-pic">
                                <svg width="18px" height="21px" fill="#2F4160" viewBox="0 0 18 21" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <path d="M16,2.1 L15,2.1 L15,0 L13,0 L13,2.1 L5,2.1 L5,0 L3,0 L3,2.1 L2,2.1 C0.89,2.1 0.01,3.045 0.01,4.2 L0,18.9 C0,20.055 0.89,21 2,21 L16,21 C17.1,21 18,20.055 18,18.9 L18,4.2 C18,3.045 17.1,2.1 16,2.1 Z M16,18.9 L2,18.9 L2,7.35 L16,7.35 L16,18.9 Z M4,9.45 L9,9.45 L9,14.7 L4,14.7 L4,9.45 Z" id="7"></path>
                                </svg>
                            </div>

                            <div class="sidebar__list-content ml-3">
                                <a asp-area="" class="sidebar-item-link" asp-controller="EmailMessages" asp-action="Index">Email Messages</a>

                            </div>

                        </li>
                        <li class="sidebar__list-item pl-4 pt-1 pb-2 pr-2 mb-3 d-flex">
                            <div class="sidebar__list-pic">
                                <svg width="18px" height="18px" fill="#2F4160" viewBox="0 0 18 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <path d="M16,0 L1.99,0 C0.88,0 0.01,0.9 0.01,2 L0,16 C0,17.1 0.88,18 1.99,18 L16,18 C17.1,18 18,17.1 18,16 L18,2 C18,0.9 17.1,0 16,0 Z M16,12 L12,12 C12,13.66 10.65,15 9,15 C7.35,15 6,13.66 6,12 L1.99,12 L1.99,2 L16,2 L16,12 Z M13,7 L11,7 L11,4 L7,4 L7,7 L5,7 L9,11 L13,7 Z"></path>
                                </svg>
                            </div>

                            <div class="sidebar__list-content ml-3">
                                <a asp-area="" class="sidebar-item-link" asp-controller="UserManagement" asp-action="Index">User Management</a>
                            </div>

                        </li>

                        <li class="sidebar__list-item pl-4 pt-1 pb-2 pr-2 mb-3 d-flex">
                            <div class="sidebar__list-pic">
                                <svg fill="#0A1F44" width="18px" height="18px" viewBox="0 0 18 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <path d="M8,11.0623382 C8,10.475625 8.49590156,10 9.10838294,10 L16.8916171,10 C17.5037601,10 18,10.4764786 18,11.0623382 L18,16.9376618 C18,17.524375 17.5040984,18 16.8916171,18 L9.10838294,18 C8.49623994,18 8,17.5235214 8,16.9376618 L8,11.0623382 Z M9,11.2733986 L9,16.7266014 C9,16.8746815 9.12747537,17 9.28472423,17 L16.7152758,17 C16.8743391,17 17,16.8775953 17,16.7266014 L17,11.2733986 C17,11.1253185 16.8725246,11 16.7152758,11 L9.28472423,11 C9.12566091,11 9,11.1224047 9,11.2733986 Z M0,11.0623382 C0,10.475625 0.526137733,10 1.17164262,10 L5.82835738,10 C6.47543773,10 7,10.4764786 7,11.0623382 L7,16.9376618 C7,17.524375 6.47386227,18 5.82835738,18 L1.17164262,18 C0.524562267,18 0,17.5235214 0,16.9376618 L0,11.0623382 Z M1,11.2733986 L1,16.7266014 C1,16.8746815 1.140033,17 1.31277237,17 L5.68722763,17 C5.855752,17 6,16.8775953 6,16.7266014 L6,11.2733986 C6,11.1253185 5.859967,11 5.68722763,11 L1.31277237,11 C1.144248,11 1,11.1224047 1,11.2733986 Z M12,1.06233823 C12,0.475625029 12.4910052,0 13.0865547,0 L16.9134453,0 C17.5135329,0 18,0.476478576 18,1.06233823 L18,6.93766176 C18,7.52437499 17.5089948,8 16.9134453,8 L13.0865547,8 C12.4864671,8 12,7.52352144 12,6.93766176 L12,1.06233823 Z M13,1.27339864 L13,6.72660138 C13,6.87468149 13.1287943,7 13.2876701,7 L16.7123299,7 C16.8669129,7 17,6.87759525 17,6.72660138 L17,1.27339864 C17,1.12531853 16.8712057,1 16.7123299,1 L13.2876701,1 C13.1330871,1 13,1.12240474 13,1.27339864 Z M0,1.06233823 C0,0.475625029 0.515798916,0 1.15640215,0 L9.84359785,0 C10.4822611,0 11,0.476478576 11,1.06233823 L11,6.93766176 C11,7.52437499 10.4842011,8 9.84359785,8 L1.15640215,8 C0.517738853,8 0,7.52352144 0,6.93766176 L0,1.06233823 Z M1,1.27339864 L1,6.72660138 C1,6.87468149 1.11917029,7 1.26617429,7 L8.73382571,7 C8.88070261,7 9,6.87759525 9,6.72660138 L9,1.27339864 C9,1.12531853 8.88082971,1 8.73382571,1 L1.26617429,1 C1.11929739,1 1,1.12240474 1,1.27339864 Z"></path>
                                </svg>
                            </div>

                            <div class="sidebar__list-content ml-3">
                                <a asp-area="" class="sidebar-item-link" asp-controller="TranslationValues" asp-action="Index">Translation Values</a>

                            </div>
                        </li>*@
                </ul>

                <button class="sidebar__hide-btn" id="sidebar-hide-btn">Hide sidebar</button>
            </nav>
            <div class="roots-content sidebar-is-hidden d-flex flex-column" style="float: left;">

                @if (ViewData["Title"] as string == this.ViewContext.RouteData.Values[ViewData["Title"].ToString().Contains("Log in") || ViewData["Title"].ToString().Contains("Personal Data") || ViewData["Title"].ToString().Contains("Two-factor authentication (2FA)") || ViewData["Title"].ToString().Contains("Change password") || ViewData["Title"].ToString().Contains("Manage Email") || ViewData["Title"].ToString().Contains("Confirm email") || ViewData["Title"].ToString().Contains("Register") || ViewData["Title"].ToString().Contains("Profile") || ViewData["Title"].ToString().Contains("ForgotPassword") ? "page" : "controller"].ToString())
                {
                    <div class="tabs-wrapper">
                        <div class="tabs-buttons">
                            <a href="@Url.Action("Create")" class="roots-btn btn btn-primary roots-btn-w-plus" id="btn_create" style="color:white">
                                Create
                            </a>
                        </div>
                    </div>
                }
                <div class="roots-content-wrapper my-4 container-fluid" style="min-height:600px">
                    @RenderBody()
                </div>
            </div>
        </div>
    </main>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - خدمات بلدية العوجا
        </div>
    </footer>
    <div class="roots-modal modal fade" id="deleteConfirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="roots-modal__dialog modal-dialog modal-dialog-centered" role="document">
            <div class="roots-modal__content modal-content">
                <div class="roots-modal__header modal-header d-flex flex-column border-0">
                    <button type="button" class="roots-modal__btn-close close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="roots-modal__title modal-title" id="exampleModalLongTitle">Delete Confirm</h5>
                    <h6 class="roots-modal__subtitle modal-title" style="color:#893747;" id="exampleModalLongTitle">Are you sure you want to delete this ?</h6>
                </div>
                <div class="roots-modal__body modal-body">

                </div>
                <div class="roots-modal__footer modal-footer border-0">
                    <button type="button" class="roots-btn btn btn-primary" data-dismiss="modal">No</button>
                    <button type="button" class="roots-btn btn btn-secondary" onclick="$('form').submit()">Yes</button>
                </div>
            </div>
        </div>
    </div>
    @*<script src="https://cdn.rtlcss.com/bootstrap/v4.2.1/js/bootstrap.min.js"
            integrity="sha384-a9xOd0rz8w0J8zqj1qJic7GPFfyMfoiuDjC9rqXlVOcGO/dmRqzMn34gZYDTel8k"
            crossorigin="anonymous"></script>*@
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script>$.widget.bridge("uitooltip", $.ui.tooltip)</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.9.2/i18n/jquery.ui.datepicker-ar.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.full.js"></script>
    <script src="~/js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>

@*<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">خدمات بلدية العوجا</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="CatchReceipts" asp-action="Index">Catch Receipts</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="CashiersChecks" asp-action="Index">Cashiers Checks</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Receipts" asp-action="Index">Receipts</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="ComplaintForms" asp-action="Index">Complaint Forms</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="ConstructionLicenses" asp-action="Index">Construction Licenses</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="CraftAndIndustryLicenses" asp-action="Index">Craft and Industry Licenses</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Index">Users</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="VacationRequests" asp-action="Index">Vacation Requests</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="WaterMeterSubscriptionRequests" asp-action="Index">Water Meter Subscription Requests</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - خدمات بلدية العوجا
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>*@