@model MunicipalServices.Data.ComplaintForm

@{
    ViewData["Title"] = "الشكاوي";
}
<div class="roots-content-wrapper my-4 container-fluid dir-rtl" style="min-height:600px">

    <div class="content-box mt-2">
        <div class="content-box-header">
            <h3 class="content-box__title text-right">تفاصيل</h3>
        </div>
        <div class="content-box-body">
            <div class="content-box-body__row row">
                <div class="form-item-valid form-group col-12 col-md-6">
                    <label class="input-label text-right"> @Html.DisplayNameFor(model => model.FullName)</label>
                    <input class="form-control input" id="inputtext-2" disabled="disabled" value="@Html.DisplayFor(model => model.FullName)">
                </div>
                <div class="form-item-valid form-group col-12 col-md-6">
                    <label class="input-label text-right">@Html.DisplayNameFor(model => model.PhoneNumber)</label>
                    <input class="form-control input" id="inputtext-2" disabled="disabled" value="@Html.DisplayFor(model => model.PhoneNumber)">
                </div>
                <div class="form-item-valid form-group col-12 col-md-6">
                    <label class="input-label text-right"> @Html.DisplayNameFor(model => model.IdentificationNumber)</label>
                    <input class="form-control input" id="inputtext-2" disabled="disabled" value="@Html.DisplayFor(model => model.IdentificationNumber)">
                </div>
                <div class="form-item-valid form-group col-12 col-md-6">
                    <label class="input-label text-right"> @Html.DisplayNameFor(model => model.AreaName)</label>
                    <input class="form-control input" id="inputtext-2" disabled="disabled" value="@Html.DisplayFor(model => model.AreaName)">
                </div>
                <div class="form-item-valid form-group col-12 col-md-6">
                    <label class="input-label text-right"> @Html.DisplayNameFor(model => model.FullAddress)</label>
                    <input class="form-control input" id="inputtext-2" disabled="disabled" value="@Html.DisplayFor(model => model.FullAddress)">
                </div>
                <div class="form-item-valid form-group col-12 col-md-6">
                    <label class="input-label text-right"> @Html.DisplayNameFor(model => model.ComplaintType)</label>
                    <input class="form-control input" id="inputtext-2" disabled="disabled" value="@Html.DisplayFor(model => model.ComplaintType)">
                </div>
                <div class="form-item-valid form-group col-12 col-md-6">
                    <label class="input-label text-right"> @Html.DisplayNameFor(model => model.SubjectComplaint)</label>
                    <input class="form-control input" id="inputtext-2" disabled="disabled" value="@Html.DisplayFor(model => model.SubjectComplaint)">
                </div>
                <div class="form-item-valid form-group col-12 col-md-6">
                    <label class="input-label text-right"> @Html.DisplayNameFor(model => model.CreatedDate)</label>
                    <input class="form-control input" id="inputtext-2" disabled="disabled" value="@Html.DisplayFor(model => model.CreatedDate)">
                </div>
                <div class="form-item-valid form-group col-12 col-md-6">
                    <label class="input-label text-right"> @Html.DisplayNameFor(model => model.UpdatedDate)</label>
                    <input class="form-control input" id="inputtext-2" disabled="disabled" value="@Html.DisplayFor(model => model.UpdatedDate)">
                </div>
                <div class="form-item-valid form-group col-12 col-md-6">
                    <label class="input-label text-right"> @Html.DisplayNameFor(model => model.User)</label>
                    <input class="form-control input" id="inputtext-2" disabled="disabled" value="@Html.DisplayFor(model => model.User.FullName)">
                </div>
            </div>
        </div>
        <br />
        <div class="root-space__btn-wrapp col-12">
            <a asp-action="Index" class="roots-btn btn btn-secondary ml-3">رجوع</a>
            <a asp-action="Edit" asp-route-id="@Model.ID" class="roots-btn btn btn-primary">تعديل</a>
        </div>
        <br />
    </div>
    </div>
