@model MunicipalServices.Data.Users

@{
    ViewData["Title"] = "إدارة الموظفين";
    var deleted = Model.Deleted ? "محذوف" : "غير محذوف";
    var emailconfirm = Model.EmailConfirmed ? "تم تأكيد البريد الإلكتروني" : "لم يتم تأكيد البريد الإلكتروني";
}

<div class="roots-content-wrapper my-4 container-fluid dir-rtl" style="min-height:700px">

        <div class="content-box mt-2">
            <div class="content-box-header">
                <h3 class="content-box__title text-right">حذف</h3>
            </div>
            <div class="content-box-body">
                @*<div class="form-item-valid form-group col-12 col-md-6">
                    <div class="table-img-box">
                        <img src="@Model.ProfileImageURL" alt="Person Image" height="150" width="150" />
                    </div>
                </div>*@
                <div class="content-box-body__row row">
                    <div class="form-item-valid form-group col-12 col-md-6">
                        <label class="input-label text-right"> @Html.DisplayNameFor(model => model.FullName)</label>
                        <input class="form-control input" id="inputtext-2" disabled="disabled" value="@Html.DisplayFor(model => model.FullName)">
                    </div>
                    <div class="form-item-valid form-group col-12 col-md-6">
                        <label class="input-label text-right"> @Html.DisplayNameFor(model => model.Gender)</label>
                        <input class="form-control input" id="inputtext-2" disabled="disabled" value="@Html.DisplayFor(model => model.Gender)">
                    </div>
                    <div class="form-item-valid form-group col-12 col-md-6">
                        <label class="input-label text-right">رقم الجوال</label>
                        <input class="form-control input" id="inputtext-2" disabled="disabled" value="@Html.DisplayFor(model => model.PhoneNumber)">
                    </div>
                    <div class="form-item-valid form-group col-12 col-md-6">
                        <label class="input-label text-right"> البريد الإلكتروني</label>
                        <input class="form-control input" id="inputtext-2" disabled="disabled" value="@Html.DisplayFor(model => model.Email)">
                    </div>
                    <div class="form-item-valid form-group col-12 col-md-6">
                        <label class="input-label text-right"> @Html.DisplayNameFor(model => model.Birthday)</label>
                        <input class="form-control input" id="inputtext-2" disabled="disabled" value="@Html.DisplayFor(model => model.Birthday)">
                    </div>

                    <div class="form-item-valid form-group col-12 col-md-6">
                        <label class="input-label text-right"> @Html.DisplayNameFor(model => model.CreatedDate)</label>
                        <input class="form-control input" id="inputtext-2" disabled="disabled" value="@Html.DisplayFor(model => model.CreatedDate)">
                    </div>
                    <div class="form-item-valid form-group col-12 col-md-6">
                        <label class="input-label text-right"> تأكيد البريد الإلكتروني </label>
                        <input class="form-control input" id="inputtext-2" disabled="disabled" value="@emailconfirm">
                    </div>
                    <div class="form-item-valid form-group col-12 col-md-6">
                        <label class="input-label text-right"> @Html.DisplayNameFor(model => model.Deleted)</label>
                        <input class="form-control input" id="inputtext-2" disabled="disabled" value="@deleted">
                    </div>
                </div>
            </div>
            <br />
            <div class="root-space__btn-wrapp col-12">
                <form asp-action="Delete">
                    <input type="hidden" asp-for="Id" />
                    <a asp-action="Index" class="roots-btn btn btn-primary ml-3">إلغاء</a>
                    <button type="button" class="roots-btn btn btn-secondary" data-toggle="modal" data-target="#deleteConfirmModal">حذف</button>
                </form>
            </div>
            <br />
        </div>
    </div>
