@model IEnumerable<MunicipalServices.Data.Users>

@{
    ViewData["Title"] = "UserManagement";
}
<style>
    #btn_create {
        display: none;
    }
</style>
<table class="roots-table table borderless" cellspacing="0">
    <thead>
        <tr class="table-row-thead">
            <th scope="col">@Html.DisplayName("ImageProfile")</th>
            <th scope="col">@Html.DisplayNameFor(model => model.FullName)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.Email)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.PhoneNumber)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.Gender)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.EmailConfirmed)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.CreatedDate)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.Deleted)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="table-row-item">
                <th scope="row" class="d-flex justify-content-left align-items-center">
                    <div class="table-img-box">
                        <img src="@item.ProfileImageURL" alt="Person Image" height="50" width="50" />
                    </div>
                </th>
                <td class="table-bold-text">@Html.DisplayFor(modelItem => item.FullName)</td>
                <td class="table-bold-text">@Html.DisplayFor(modelItem => item.Email)</td>
                <td class="table-bold-text">@Html.DisplayFor(modelItem => item.PhoneNumber)</td>
                <td class="table-bold-text">@Html.DisplayFor(modelItem => item.Gender)</td>
                @if (item.EmailConfirmed)
                {
                    <td class="table-text table-product-status table-product-status--success">Confirmed</td>
                }
                else
                {
                    <td class="table-text table-product-status table-product-status--unsuccess">UnConfirmed</td>
                }
                <td class="table-bold-text">@Html.DisplayFor(modelItem => item.CreatedDate)</td>
                <td class="table-bold-text">@Html.DisplayFor(modelItem => item.Deleted)</td>
                <td class="table-text table-product-more-btn">
                    <div class="dropdown">
                        <button class="table-dropdow-btn btn" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">...</button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownmenubutton">
                            <a class="dropdown-item" asp-action="details" asp-route-id="@item.Id">Details</a>
                            <form asp-action="Delete" asp-route-id="@item.Id">
                                <a class="dropdown-item" data-toggle="modal" data-target="#deleteConfirmModal">Delete</a>
                            </form>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
