@model MunicipalServices.Data.ConstructionDetails

@{
    ViewData["Title"] = "تفاصيل البناء";
}

<div class="content-box mt-2">
    <div class="content-box-header">
        <h3 class="content-box__title text-right">تفاصيل</h3>
    </div>
    <div class="content-box-body">
        <div class="content-box-body__row row">
            <div class="form-item-valid form-group col-12 col-md-6">
                <label class="input-label text-right"> @Html.DisplayNameFor(model => model.ConstructionDescription)</label>
                <input class="form-control input" id="inputtext-2" disabled="disabled" value="@Html.DisplayFor(model => model.ConstructionDescription)">
            </div>
            <div class="form-item-valid form-group col-12 col-md-6">
                <label class="input-label text-right">@Html.DisplayNameFor(model => model.Amount)</label>
                <input class="form-control input" id="inputtext-2" disabled="disabled" value="@Html.DisplayFor(model => model.Amount)">
            </div>
            <div class="form-item-valid form-group col-12 col-md-6">
                <label class="input-label text-right"> @Html.DisplayNameFor(model => model.MeasruingUnit)</label>
                <input class="form-control input" id="inputtext-2" disabled="disabled" value="@Html.DisplayFor(model => model.MeasruingUnit)">
            </div>
            <div class="form-item-valid form-group col-12 col-md-6">
                <label class="input-label text-right"> @Html.DisplayNameFor(model => model.UnitPrice)</label>
                <input class="form-control input" id="inputtext-2" disabled="disabled" value="@Html.DisplayFor(model => model.UnitPrice)">
            </div>
            <div class="form-item-valid form-group col-12 col-md-6">
                <label class="input-label text-right"> @Html.DisplayNameFor(model => model.Total)</label>
                <input class="form-control input" id="inputtext-2" disabled="disabled" value="@Html.DisplayFor(model => model.Total)">
            </div>
            <div class="form-item-valid form-group col-12 col-md-6 d-print-none">
                <label class="input-label text-right"> @Html.DisplayNameFor(model => model.CreatedDate)</label>
                <input class="form-control input" id="inputtext-2" disabled="disabled" value="@Html.DisplayFor(model => model.CreatedDate)">
            </div>
            <div class="form-item-valid form-group col-12 col-md-6">
                <label class="input-label text-right"> @Html.DisplayNameFor(model => model.UpdatedDate)</label>
                <input class="form-control input" id="inputtext-2" disabled="disabled" value="@Html.DisplayFor(model => model.UpdatedDate)">
            </div>
            <div class="form-item-valid form-group col-12 col-md-6 d-print-none">
                <label class="input-label text-right"> @Html.DisplayNameFor(model => model.User)</label>
                <input class="form-control input" id="inputtext-2" disabled="disabled" value="@Html.DisplayFor(model => model.User.FullName)">
            </div>
        </div>
    </div>
    <br />
    <div class="root-space__btn-wrapp col-12">
        <a asp-action="details" asp-controller="ConstructionLicenses" asp-route-id="@Model.ConstructionLicenseID" class="roots-btn btn btn-secondary ml-3">رجوع</a>
        <a asp-action="Edit" asp-route-id="@Model.ID" class="roots-btn btn btn-primary">تعديل</a>
    </div>
    <br />
</div>