@model IEnumerable<MunicipalServices.Data.ConstructionDetails>

@{
    ViewData["Title"] = "Index";
}

<div class="roots-content-wrapper my-4 container-fluid dir-rtl" style="min-height:700px">
    <table class="roots-table table borderless" cellspacing="0">
        <thead>
            <tr class="table-row-thead text-right">
                <th scope="col">@Html.DisplayNameFor(model => model.ConstructionDescription)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.Amount)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.MeasruingUnit)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.UnitPrice)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.Total)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="table-row-item text-right">
                    <td class="table-bold-text">@Html.DisplayFor(modelItem => item.ConstructionDescription)</td>
                    <td class="table-bold-text">@Html.DisplayFor(modelItem => item.Amount)</td>
                    <td class="table-bold-text">@Html.DisplayFor(modelItem => item.MeasruingUnit)</td>
                    <td class="table-bold-text">@Html.DisplayFor(modelItem => item.UnitPrice)</td>
                    <td class="table-bold-text">@Html.DisplayFor(modelItem => item.Total)</td>
                    <td class="table-text"></td>
                </tr>
            }
        </tbody>
    </table>
</div>
