@model MunicipalServices.Data.LicenseHolderInformation

@{
    ViewData["Title"] = "Delete";
}

<div class="content-box mt-2">
    <div class="content-box-header">
        <h3 class="content-box__title">Complaint Form</h3>
    </div>
    <div class="content-box-body">
        <div class="content-box-body__row row">
            <div class="form-item-valid form-group col-12 col-md-6">
                <label class="input-label"> @Html.DisplayNameFor(model => model.NameLicenseHolder)</label>
                <input class="form-control input" id="inputtext-2" disabled="disabled" value="@Html.DisplayFor(model => model.NameLicenseHolder)">
            </div>
            <div class="form-item-valid form-group col-12 col-md-6">
                <label class="input-label">@Html.DisplayNameFor(model => model.IdentityNumberLicenseHolder)</label>
                <input class="form-control input" id="inputtext-2" disabled="disabled" value="@Html.DisplayFor(model => model.IdentityNumberLicenseHolder)">
            </div>
            <div class="form-item-valid form-group col-12 col-md-6">
                <label class="input-label"> @Html.DisplayNameFor(model => model.AddressLicenseHolder)</label>
                <input class="form-control input" id="inputtext-2" disabled="disabled" value="@Html.DisplayFor(model => model.AddressLicenseHolder)">
            </div>
            <div class="form-item-valid form-group col-12 col-md-6">
                <label class="input-label"> @Html.DisplayNameFor(model => model.PhoneNumberLicenseHolder)</label>
                <input class="form-control input" id="inputtext-2" disabled="disabled" value="@Html.DisplayFor(model => model.PhoneNumberLicenseHolder)">
            </div>
            <div class="form-item-valid form-group col-12 col-md-6">
                <label class="input-label"> @Html.DisplayNameFor(model => model.NameDesigningOffice)</label>
                <input class="form-control input" id="inputtext-2" disabled="disabled" value="@Html.DisplayFor(model => model.NameDesigningOffice)">
            </div>
            <div class="form-item-valid form-group col-12 col-md-6">
                <label class="input-label"> @Html.DisplayNameFor(model => model.IdentityNumberDesignerOffice)</label>
                <input class="form-control input" id="inputtext-2" disabled="disabled" value="@Html.DisplayFor(model => model.IdentityNumberDesignerOffice)">
            </div>
            <div class="form-item-valid form-group col-12 col-md-6">
                <label class="input-label"> @Html.DisplayNameFor(model => model.AddressDesignerOffice)</label>
                <input class="form-control input" id="inputtext-2" disabled="disabled" value="@Html.DisplayFor(model => model.AddressDesignerOffice)">
            </div>
            <div class="form-item-valid form-group col-12 col-md-6">
                <label class="input-label"> @Html.DisplayNameFor(model => model.PhoneNumberDesignerOffice)</label>
                <input class="form-control input" id="inputtext-2" disabled="disabled" value="@Html.DisplayFor(model => model.PhoneNumberDesignerOffice)">
            </div>
            <div class="form-item-valid form-group col-12 col-md-6">
                <label class="input-label"> @Html.DisplayNameFor(model => model.NameSupervisingEngineer)</label>
                <input class="form-control input" id="inputtext-2" disabled="disabled" value="@Html.DisplayFor(model => model.NameSupervisingEngineer)">
            </div>
            <div class="form-item-valid form-group col-12 col-md-6">
                <label class="input-label"> @Html.DisplayNameFor(model => model.IdentityNumberSupervisingEngineer)</label>
                <input class="form-control input" id="inputtext-2" disabled="disabled" value="@Html.DisplayFor(model => model.IdentityNumberSupervisingEngineer)">
            </div>
            <div class="form-item-valid form-group col-12 col-md-6">
                <label class="input-label"> @Html.DisplayNameFor(model => model.AddressSupervisingEngineer)</label>
                <input class="form-control input" id="inputtext-2" disabled="disabled" value="@Html.DisplayFor(model => model.AddressSupervisingEngineer)">
            </div>
            <div class="form-item-valid form-group col-12 col-md-6">
                <label class="input-label"> @Html.DisplayNameFor(model => model.PhoneNumberSupervisingEngineer)</label>
                <input class="form-control input" id="inputtext-2" disabled="disabled" value="@Html.DisplayFor(model => model.PhoneNumberSupervisingEngineer)">
            </div>
            <div class="form-item-valid form-group col-12 col-md-6">
                <label class="input-label"> @Html.DisplayNameFor(model => model.CreatedDate)</label>
                <input class="form-control input" id="inputtext-2" disabled="disabled" value="@Html.DisplayFor(model => model.CreatedDate)">
            </div>
            <div class="form-item-valid form-group col-12 col-md-6">
                <label class="input-label"> @Html.DisplayNameFor(model => model.UpdatedDate)</label>
                <input class="form-control input" id="inputtext-2" disabled="disabled" value="@Html.DisplayFor(model => model.UpdatedDate)">
            </div>
            <div class="form-item-valid form-group col-12 col-md-6">
                <label class="input-label"> @Html.DisplayNameFor(model => model.User)</label>
                <input class="form-control input" id="inputtext-2" disabled="disabled" value="@Html.DisplayFor(model => model.User.FullName)">
            </div>
        </div>
    </div>
    <br />
    <div class="root-space__btn-wrapp" style="margin-left:15px;">
        <form asp-action="Delete">
            <input type="hidden" asp-for="ID" />
            <a asp-action="Index" class="roots-btn btn btn-primary mr-3">Cancel</a>
            <button type="button" class="roots-btn btn btn-secondary" data-toggle="modal" data-target="#deleteConfirmModal">Delete</button>
        </form>
    </div>
    <br />
</div>