@page
@model MunicipalServices.Areas.Identity.Pages.Account.UserRolesModel
@{
    ViewData["Title"] = "User Roles";
}
<div class="roots-content-wrapper my-4 container-fluid dir-rtl" style="min-height:700px">

    <form method="post">
        <div class="card">
            <div class="card-header text-right">
                <h2>إدارة صلاحيات الموظف</h2>
                إضافة / إزالة صلاحيات للموظف / @Model.UserName
            </div>
            <div class="card-body">
                <input hidden asp-for="@Model.UserId" />
                @for (int i = 0; i < Model.UserRoles.Count; i++)
                {
                    <div class="form-check m-1">
                        <input type="hidden" asp-for="@Model.UserRoles[i].RoleId" />
                        <input type="hidden" asp-for="@Model.UserRoles[i].RoleName" />
                        <input asp-for="@Model.UserRoles[i].Selected" class="form-check-input" />
                        <label class="form-check-label text-right" asp-for="@Model.UserRoles[i].Selected">
                            @Model.UserRoles[i].RoleName
                        </label>
                    </div>
                }
                <div asp-validation-summary="All" class="text-danger"></div>
            </div>
            <div class="card-footer">
                <div class="root-space__btn-wrapp col-12">
                    <a asp-action="Index" asp-controller="UserManagement" class="roots-btn btn btn-secondary ml-3">رجوع</a>
                    <button type="submit" asp-route-model="@Model.UserRoles" class="roots-btn btn btn-primary">تحديث</button>
                </div>
            </div>
        </div>
    </form>
</div>