@model MunicipalServices.Data.CashiersCheck

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CashiersCheck</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CatchReceipt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CatchReceipt.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Receipt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Receipt.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CheckNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CheckNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodeBank)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodeBank)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BankName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BankName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodeBranch)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodeBranch)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BranchName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BranchName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfTheWorthy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfTheWorthy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AmountOfMoney)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AmountOfMoney)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
