@model MunicipalServices.Data.CraftAndIndustryLicense

@{
    ViewData["Title"] = "Craft and industry license";
}

<div class="content-box mt-2">
    <div class="content-box-header">
        <h3 class="content-box__title">Details</h3>
    </div>
    <div class="content-box-body">
        <div class="content-box-body__row row">
            <div class="form-item-valid form-group col-12 col-md-6">
                <label class="input-label"> @Html.DisplayNameFor(model => model.LicenseHolderName)</label>
                <input class="form-control input" id="inputtext-2" disabled="disabled" value="@Html.DisplayFor(model => model.LicenseHolderName)">
            </div>
            <div class="form-item-valid form-group col-12 col-md-6">
                <label class="input-label">@Html.DisplayNameFor(model => model.IdentificationNumber)</label>
                <input class="form-control input" id="inputtext-2" disabled="disabled" value="@Html.DisplayFor(model => model.IdentificationNumber)">
            </div>
            <div class="form-item-valid form-group col-12 col-md-6">
                <label class="input-label"> @Html.DisplayNameFor(model => model.CraftOrIndustryType)</label>
                <input class="form-control input" id="inputtext-2" disabled="disabled" value="@Html.DisplayFor(model => model.CraftOrIndustryType)">
            </div>
            <div class="form-item-valid form-group col-12 col-md-6">
                <label class="input-label"> @Html.DisplayNameFor(model => model.ClassifiedInTail)</label>
                <input class="form-control input" id="inputtext-2" disabled="disabled" value="@Html.DisplayFor(model => model.ClassifiedInTail)">
            </div>
            <div class="form-item-valid form-group col-12 col-md-6">
                <label class="input-label"> @Html.DisplayNameFor(model => model.Address)</label>
                <input class="form-control input" id="inputtext-2" disabled="disabled" value="@Html.DisplayFor(model => model.Address)">
            </div>
            <div class="form-item-valid form-group col-12 col-md-6">
                <label class="input-label"> @Html.DisplayNameFor(model => model.Ends)</label>
                <input class="form-control input" id="inputtext-2" disabled="disabled" value="@Html.DisplayFor(model => model.Ends)">
            </div>
            <div class="form-item-valid form-group col-12 col-md-6">
                <label class="input-label"> @Html.DisplayNameFor(model => model.LicenseFee)</label>
                <input class="form-control input" id="inputtext-2" disabled="disabled" value="@Html.DisplayFor(model => model.LicenseFee)">
            </div>
            <div class="form-item-valid form-group col-12 col-md-6">
                <label class="input-label"> @Html.DisplayNameFor(model => model.VoucherNumber)</label>
                <input class="form-control input" id="inputtext-2" disabled="disabled" value="@Html.DisplayFor(model => model.VoucherNumber)">
            </div>
            <div class="form-item-valid form-group col-12 col-md-6">
                <label class="input-label"> @Html.DisplayNameFor(model => model.CreatedDate)</label>
                <input class="form-control input" id="inputtext-2" disabled="disabled" value="@Html.DisplayFor(model => model.CreatedDate)">
            </div>
            <div class="form-item-valid form-group col-12 col-md-6">
                <label class="input-label"> @Html.DisplayNameFor(model => model.UpdatedDate)</label>
                <input class="form-control input" id="inputtext-2" disabled="disabled" value="@Html.DisplayFor(model => model.UpdatedDate)">
            </div>
            <div class="form-item-valid form-group col-12 col-md-6">
                <label class="input-label"> @Html.DisplayNameFor(model => model.User)</label>
                <input class="form-control input" id="inputtext-2" disabled="disabled" value="@Html.DisplayFor(model => model.User.FullName)">
            </div>
        </div>
    </div>
    <br />
    <div class="root-space__btn-wrapp col-12">
        <a asp-action="Index" class="roots-btn btn btn-secondary mr-3">Back</a>
        <a asp-action="Edit" asp-route-id="@Model.ID" class="roots-btn btn btn-primary">Edit</a>
    </div>
    <br />
</div>